[2019-02-12 18:13] CrispinF opened #1 "cloudscribe SimpleContent site with pages but no blog"
PostgreSQL database.
The site will contain about 20 content pages to be authored by JNCC, accessible in a hierarchical menu structure.

Include Contact page but no blog.

The site will replace existing site http://uk.chm-cbd.net/

Site to be hosted on Exegesis data centre - details to come separately.

[2019-02-13 17:03] CrispinF opened #3 "Website theme"
Simple responsive theme required.

Must use CHM logo from CBD, top left, plus a Union Jack. https://www.cbd.int/chm/logo/default.shtml

or files here https://www.cbd.int/images/logos/chm-logo-package.zip

Suggestions regarding layout welcome, i.e. where should the Union Jack be located?

@jncc:
We will start with a Bootstrap 4 free swatch then modify it. These can be seen here https://bootswatch.c

[2019-02-13 18:12] CrispinF opened #4 "Example page with Twitter feed"
JNCC would like to embed a twitter feed, so we have agreed to provide a sample page with the mark-up to show a twitter feed, which JNCC editors can then adapt.

[2019-02-13 18:27] joeaudette commented on #4
there is a ready built twitter widget for cloudscribe, developed by a community member and available as a nuget package. source code here :https://github.com/jasongaylord/gaylordsolutions.TwitterWidget
example site using it here: https://www.jasongaylord.com/

[2019-02-13 20:10] CrispinF commented on #4
@joeaudette ah yes I remember seeing that... does it provide any advantages over simply pasting in the Twitter embed timeline code, e.g. as we have here combined with other content on a CMS page... https://hbsmrweb-exmoor.esdm.co.uk/
(scroll down a bit, and the client is playing around with settings)

[2019-02-13 20:26] joeaudette commented on #4
The main advantage is it is a server side retrieval of tweets so it doesn't require the twitter javascript and therefore doesn't include the 15 cookies and other things twitter wants to add to the page.
It also means you have complete control over rendering

![twitter-cookies](https://user-images.githubusercontent.com/101627/52741562-9f484880-2fa3-11e9-9f6a-df8afd36e8e1.jpg)

[2019-02-13 20:46] CrispinF commented on #4
OK that's quite some baggage, and things to explain in cookie/privacy policy! And I guess the server-side fetch might result in faster page load too, so long as the Twitter API is fast.

I guess a potential disadvantage might be that is and when Twitter change their API this requires developer-level resolution, while using their embed code would simply going and get their latest.

All we're asked

[2019-02-13 21:18] joeaudette commented on #4
in order to add the server side twitter it will require an api key and secret which can be obtained in their developer portal https://developer.twitter.com/en/docs/basics/developer-portal/overview

the only advantage of the js widget is it doesn't require that.

But have a look at their cookie consent
https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview

![twitter-co

[2019-02-13 21:32] joeaudette commented on #4
I think to do correct gdpr, a twitter widget should not be rendered on a page until after a user accepts cookie consent of the site, otherwise we are pushing 3rd party tracking cookies on them without consent. So that means really we need to make a content template for the widget in order to be able to control that, it can't be done in regular content, the script is either there or not there in re

[2019-02-13 22:46] CrispinF opened #5 "Temporary site address during development"
I've set up chm.esdm.co.uk pointing at 62.197.41.144 (our web12 server).
NB This will not be the ip to use when we go live.

[2019-02-14 13:25] joeaudette commented on #4
I've created a custom content template for the home page based on the 1-4 section template but adding what is needed for a twitter widget and to not show it unless there is cookie consent.
I figured the 1-4 section template gives the most flexibility for home page content and layout.

Initial deployment is not finished yet but once it is done we need to create the home page with that template.

No

[2019-02-14 13:29] joeaudette commented on #1
I'm surprised you didn't want the blog included since the current site has a news section and blog is pretty much the same as news and can show recent posts on the home page etc.

[2019-02-14 13:48] joeaudette commented on #5
Site is now up and running at https://chm.esdm.co.uk/

Anyone who needs edit access please register on the site and let me know so I can add you to admins role to allow editing.

[2019-02-14 13:51] joeaudette commented on #4
The site is now up and running at https://chm.esdm.co.uk/ with a twitter widget on the home page.
Note that once other home page content is created, if needed we can re-position the twitter widget in the content template, at the moment it is below all editable content.

Still, my recommendation is for someone to get us api key and consumer secret and then we can setup the server side approach whic

[2019-02-14 13:54] joeaudette commented on #3
The site is now up and running at https://chm.esdm.co.uk/

Once users have registered and been added to admins role, they can try the included bootswatch themes. To change the theme after login as admin user go to Administration > Site Settings and there you will see the dropdown list of included themes to choose from.

Once an initial theme is chosen we can then customize it with logos and images

[2019-02-14 15:36] CrispinF commented on #5
@joeaudette I've registered.  I think Ulric is now on leave until next Wednesday, and I don't know whether he has delegated to anyone else. So it might be just us for a few days!

[2019-02-14 15:38] joeaudette commented on #5
@CrispinF I've added you to admins role

[2019-02-14 15:42] CrispinF commented on #5
Thanks. I'll set up https in a minute. I've set the site to use "yeti", and GB timezone.

[2019-02-14 15:47] CrispinF commented on #5
https done, using our wildcard cert.  When the site goes like the new binding will be on 62.197.41.134 and we'll use LetsEncrypt for the cert (and remove the ESDM.co.uk binding).

[2019-02-14 15:47] #5 closed

[2019-02-14 15:50] CrispinF commented on #3
@joeaudette I don't think we're going to get anything back for a few days at least, so would you be happy to go with Yeti?  If client then as a strong dislike, we could apply the same customisations/layout to another.

[2019-02-14 15:52] joeaudette commented on #3
@CrispinF for best time/cost efficiency probably best to just wait until we have input so as to avoid redoing work.

[2019-02-14 15:53] CrispinF commented on #1
@joeaudette it was a definite informed decision by Ulric and Danny. The scope of the site is becoming smaller, and it was felt the twitter feed could provide adequate news/updates.
I guess we can close this one now!

[2019-02-14 15:53] #1 closed

[2019-02-14 15:53] joeaudette commented on #3
whichever theme they choose we will copy the scss for that into a custom theme rather than changing the actual bootswatch theme.

[2019-02-14 15:54] CrispinF commented on #4
Assigning this one to @ulric-wilson now for decisions on Twitter feed.

[2019-02-14 15:58] CrispinF opened #7 "SMTP server/service"
When people register or forget their passwords, or when people use the contact form, the site needs to send emails.
This requires an SMTP server or service.  Can JNCC supply details of what we should use please?  During the development phase we can use an Exegesis service, but this is not appropriate for longer term use once live.

[2019-02-14 15:58] CrispinF commented on #7
@joeaudette could you put our settings in for the contact form as well, if convenient.

[2019-02-14 16:19] CrispinF opened #8 "Create sample page hierarchy with lorem ipsum content"
We are to create some pages to demonstrate that the CMS and menu system can deliver the requirements, so that JNCC staff can add more and modify.
This is the site schematic sent by Danny:
![image](https://user-images.githubusercontent.com/10574730/52799636-22d06b00-3072-11e9-9c77-f61dadccf673.png)

[2019-02-14 17:57] CrispinF commented on #8
I've created all these pages, however I wasn't sure what to make of some of the abbreviations.  If I've misinterpreted any, it's very quick to change.  Having the Site Map link in the menu isn't strictly necessary as it's also already in the footer, but I added it anyway with a "URL override" to make a menu link point to a page that is automatically managed by cloudscribe (rather than a content pa

[2019-02-15 11:15] joeaudette commented on #7
@CrispinF the only missing setting to light up the contact form was an email address to receive submissions, I've put your email their for now. Just need a list of who really is to receive them.

[2019-02-15 12:33] CrispinF opened #9 "Provide example home page carousel"
@joeaudette perhaps a mod to the home page template you did, bringing in the "image gallery" carousel plus a simple content block above and below?

[2019-02-15 12:41] joeaudette commented on #9
We already have a template for that, we could easily delete the home page and recreate it with a different template. Or we can make a new home page template copied from that one and add twitter widget. But really I think it is best to get some decisions on the twitter widget first. Which one will we use the js one or the server side one and where should it go. We could do a big footer and put it t

[2019-02-15 12:41] CrispinF opened #10 "Redirect Manager"
@joeaudette to liaise with Jim K and me about which version to use and when to bring this.
I will then add some example redirects to show @ulric-wilson how it works.

[2019-02-15 12:43] joeaudette commented on #9
why not just create an extra page for now using the gallery template so there is a page to look at and then if we decide it should go on the home page we can update the home page template. We can make sample pages with different approaches and later delete any un-needed pages.

[2019-02-15 12:43] CrispinF opened #11 "Google Custom Search (time permitting)"
Google Search was not included in specification or Tender, but can be done, time permitting. Ulric to supply the required JavaScript and mark-up.
NB this will not be fully functional until the site has gone live as it will be searching content that Google has indexed from the current site, and the redirects won’t take effect until the domain is directed at the new site.

[2019-02-15 12:46] CrispinF opened #12 "Hosting to 31/03/2021"
Just a place-holder issue really, as a reminder the hosting contract runs to 31/03/2020.

Check-list of things to do during set-up phase:

- [x] Create site, database, app pool, IIS bindings, data protections keys
- [x] Site folder permissions - check these are correct
- [x] Set and check http response headers and security settings
- [x] Set up site monitoring on the real address
- [x] Configure o

[2019-02-15 13:06] CrispinF commented on #9
@joeaudette good idea. I'll do a gallery page  example then we wait for decisions.

[2019-02-15 13:22] CrispinF opened #13 "Google Analytics"
@ulric-wilson to supply Google Analytics Tracking Id (or simply enter it yourself in Site Settings). Best to do this when the site is running under the real address.

[2019-02-15 13:25] CrispinF opened #14 ""Page not found" page"
This is our default:
![image](https://user-images.githubusercontent.com/10574730/52859634-2113af80-3125-11e9-94af-ff80d5aacc41.png)
@ulric-wilson please confirm whether that is OK, and if not what would you like?

[2019-02-15 14:40] CrispinF opened #15 "Cookie consent and privacy policy"
This is activated on the site.

@ulric-wilson you can configure both the cookie consent message and the policy page from within Site Settings.

[2019-02-15 15:54] CrispinF opened #16 "Test in IE11, Edge, Chrome, Firefox and Safari."
A quick check in each to ensure layout and menus are ok.

[2019-02-15 16:09] CrispinF opened #17 "Restrict editing access"
The specification asked for access to the editing environment to "be restricted to JNCC ip addresses where possible".
@ulric-wilson
Given we've enabled two-factor authentication (which each of your editing users can set up for themselves now), would you see i.p. restriction as still being necessary?

[2019-02-15 16:22] CrispinF opened #18 "Contact Form?"
@ulric-wilson we've added a Contact Form to the site, but actually I realise I am not sure whether you want one?  If not we can easily remove.
I have configured the form to send any submissions to you and Danny, and this is also easy to change.
In you want an invisible recaptcha to prevent spam, you simply need to enter the public and private keys in Site Settings.

[2019-02-17 20:11] CrispinF commented on #9
@ulric-wilson example of image carousel using 2 images ffrom the CBD website, with some borrowed CHM home page content:
https://chm.esdm.co.uk/carousel

[2019-02-18 12:55] ulric-wilson commented on #9
Crispin - carousel looks fine to me.  can time each image is displayed and duration of transition be controlled?  transition seems quite abrupt - but only minor niggle.  Thanks

[2019-02-19 11:11] joeaudette commented on #3
@ulric-wilson @CrispinF

It would be good if we could get some design decisions made in order to move forward efficiently.

1. Could someone try out the included themes and decide which one they like best to use as a starting point for customization?

To try the themes, just need to login and go to Administration > Site Settings and there is a dropdown list of themes. You can set the current theme

[2019-02-19 11:16] CrispinF commented on #3
@ulric-wilson @joeaudette I believe Ulric is on leave and back tomorrow.  By email, Danny offered feedback on theme by end of tomorrow (Wednesday).

[2019-02-20 20:17] joeaudette commented on #10
this is completed and deployed

[2019-02-20 20:20] joeaudette commented on #3
I've created a new custom theme named chm-1 based on yeti and deployed to the site.
I renamed the home page as Tweets and changed the carousel page to home.

It is ready for some review. I will un-asign myself from this issue, feel free to assign it back to me with additional instructions after review.

[2019-02-20 21:56] CrispinF commented on #3
@joeaudette feedback from Ulric for home page: home page using the carousel template, but put tweets into "in a narrowish fixed width column" on right-hand side.  On narrow screens this to fall below.

Please slow down the slide transitions a bit (could the duration for each slide and the transition speed be properties in the template if that's quick to do).

No response on whether we should use T

[2019-02-20 22:04] CrispinF opened #22 "Error page"
The error page currently looks like this, but can be changed to your requirements. NB it's unlikely a simple content site like this will actually encounter errors.
![image](https://user-images.githubusercontent.com/10574730/53127912-70117880-355b-11e9-9131-069ae076d626.png)

[2019-02-20 22:23] CrispinF commented on #3
@joeaudette we get low contrast warnings from WAVE with the existing colours... the main being solved by replacing #00526e with #003c50 for hyperlinks and site title.
There are also a couple of minor warnings about redundant home links. See http://wave.webaim.org/report#/https://chm.esdm.co.uk/

[2019-02-21 09:45] ulric-wilson commented on #22
Crispin - if there is a 500 error is there any notification / email / some other means to be made aware of it so it can be investigated/fixed?  I want to update the text but want to be clear what actions might arise from a 500 error.

[2019-02-21 11:27] ulric-wilson commented on #3
@CrispinF @joeaudette I'm not averse to the Twitter embed code if there are issues with the server side aggregator.  we cope on JNCC website

[2019-02-21 11:43] ulric-wilson commented on #17
Hi @CrispinF  I've just been looking at MFA and it seems to be a global setting for the site but only enforced if HTTPS (which this site will be) and not enforced for administrators - is that right?  Presumably no one gets Admin rights without having their role elevated by another Admin, so MFA enforcement for non-Admins would be enough.

[2019-02-21 11:45] ulric-wilson commented on #18
Contact form worth keeping I think - thanks.  I assume the email comment and email address of sender **isn't retained** on the website DB - can you confirm?

[2019-02-21 11:46] ulric-wilson commented on #15
what is outcome of non-consent to cookies?

[2019-02-21 11:51] ulric-wilson commented on #14
Is there any logging or notification following a 404 error?

Is this 404 text editable through CMS UI?

[2019-02-21 12:22] joeaudette commented on #15
There are essential cookies such as the authentication cookie which are not subject to consent. Ironically, cookie consent is also tracked with a cookie but that is considered an essential cookie.

Without consent we generally should not allow any third party cookies to be set and we should not load any 3rd party resources into the page if they set cookies.

The system will configure google analyt

[2019-02-21 12:27] joeaudette commented on #3
@ulric-wilson as mentioned on #15 I don't think we are allowed to render the twitter embed code without cookie consent. The server side solution could be used with or without consent because it doesn't set any cookies. But to use that we need an api key and secret so we can make server side requests to the twitter api to retrieve tweets.

[2019-02-21 15:17] CrispinF commented on #14
@ulric-wilson yes 404s are logged and visible to admin here https://chm.esdm.co.uk/systemlog

The 404 page is not editable, as things stand, as normally it would not need to change after an initial design phase.  It could be customised to pull its content from an editable hidden page, of course, but that would be more work.

[2019-02-21 15:49] CrispinF commented on #18
@ulric-wilson that's correct, nothing is retained.
Can we close this one?

[2019-02-21 16:11] CrispinF commented on #22
@ulric-wilson any errors will be in the system log visible to admins, and you can filter the log by level.  Currently there is no emailing triggered by log events.

[2019-02-21 16:14] CrispinF commented on #17
@ulric-wilson yes I think you're understanding that right.  So can we close this one?

[2019-02-21 16:40] joeaudette commented on #3
@CrispinF @ulric-wilson I've deployed an update for review.

@CrispinF I marked the site title link as aria-hidden so screen readers will just use the logo which has the site title as the alt text. Just retested wave and there is still a warning about 2 links but now the second link is the home menu item and I think that is ok. The screen reader would announce that as home and announce site title

[2019-02-21 17:49] CrispinF commented on #3
@joeaudette thanks, looking good.  I've changed the twitter handle to unbiodiversity which is I think what Ulric wants.
@ulric-wilson would you like the Union Jack right-justified in the header, with the site title then centred between?  Or ?
Also, do you have a preferred favicon for the site?  Is there a standard JNCC one?

[2019-02-25 18:49] CrispinF commented on #10
@ulric-wilson the Redirect Manager is in place and I've added a couple of tests. You can edit the specific redirections here:
https://chm.esdm.co.uk/ConfigurationOverride/Edit/RedirectDefinitions
Note that the config is XML, with a "Validate" button that will check your changes against the schema. This stops you entering invalid configuration, but NB it doesn't prevent you creating bad redirects.

[2019-02-25 18:51] CrispinF commented on #22
@ulric-wilson can you give us the text you would like to use?

[2019-02-25 18:53] CrispinF commented on #18
NB this does need an SMTP server/service - see #7

[2019-02-28 20:37] CrispinF commented on #16
All seems fine in Edge, Chrome and FF.
Note that the Twitter embed is not loading in FireFox due to its blocking of tracking cookies (if I switch this off, it works).
![image](https://user-images.githubusercontent.com/10574730/53596875-b63c8c80-3b98-11e9-8761-c3838dd91ce0.png)

I'm unable to test in Safari as no Mac device available at present. @ulric-wilson are you able to?

[2019-03-05 22:27] ulric-wilson commented on #16
No I don't have direct access to a Mac.  I might be able to get a colleague to  test

[2019-03-05 22:36] ulric-wilson commented on #22
Text:  "Sorry.  An unexpected error occurred while processing your request.  The error has been logged and will be investigated shortly.  If you continue to receive this error please contact feedback[at]jncc.gov.uk quoting 'UK CHM website'."

[2019-03-06 13:39] CrispinF commented on #3
@joeaudette some feedback on site theme and layout from a client phone call:

1. Please move the Union Jack to right-hand side (same distance from right edge as the CHM logo is from the left edge now), and make it height:64px;
2. Center the site title and make it a little heavier/larger.  If the base of the text could align with the base of the Union Jack that would be good, with larger text.
3. O

[2019-03-06 13:40] CrispinF opened #25 "Add text to Contact page"
JNCC would like some explanatory text at the top of the Contact page below the heading.
@ulric-wilson to supply text.

[2019-03-06 13:45] CrispinF commented on #22
@joeaudette see above. This replaces the small text, everything else to stay the same.

[2019-03-08 16:15] joeaudette commented on #22
This is completed and deployed.

[2019-03-08 16:20] joeaudette commented on #3
This is completed and deployed.
Aligning the title with the bottom of the now larger union jack looked off to me so I aligned it more in the center.

The twitter widget style I  tried to change but it was not possible. It isn't possible to adjust the style of content inside an iframe from the main page css. It is possible with javascript and I tried to do that, but it turns out it is only possible

[2019-03-11 20:12] CrispinF commented on #22
@joeaudette How do we test this!?

[2019-03-11 20:20] CrispinF opened #27 "CMS training call"
I can show JNCC staff how to use the CMS for creating and editing pages. Ulric to propose some times. 1 hour should be sufficient.

[2019-03-12 11:22] joeaudette commented on #22
I don't know an easy way to test it. There is not a known way for a user to cause an exception. We could add code to throw an exception, deploy, test, and then remove the code and redeploy but that seems wasteful. I would not leave something in place that can cause an exception.

All we did was override the view and change the text, I have no doubt it will show the new text if an error does occur.

[2019-03-13 11:50] ulric-wilson commented on #25
"The UK Clearing House Mechanism website is maintained by the Joint Nature Conservation Committee (JNCC) on behalf of the Department of the Environment, Fisheries and Rural Affairs (Defra).  Please use this form to contact us regarding this website and the UK CHM.  Visit the CBD-CHM website <https://www.cbd.int/chm/> for more information on the Convention, it's mission and implementation."

[2019-03-13 12:00] ulric-wilson commented on #17
Given my interpretation of security model above is correct then closing.

[2019-03-13 12:00] #17 closed

[2019-03-13 15:36] CrispinF commented on #25
@joeaudette please implement. I guess this is an override of the Contact form view?

[2019-03-13 19:20] joeaudette commented on #25
This is implemented and deployed.

[2019-03-14 09:25] ulric-wilson commented on #7
We're just looking at AWS SES for SMTP.  I'm liaising with CBD secretariat in Montreal as the DNS holders to check they're happy to add SPF/DKIM records to DNS so we can send the emails from the website domain.

[2019-03-14 11:30] CrispinF commented on #22
@ulric-wilson are you happy to close?

[2019-03-14 11:31] CrispinF commented on #3
@ulric-wilson to supply favicon and test recent changes.

[2019-03-18 19:54] ulric-wilson commented on #3
Crispin - used an online generator and the 'new' version of the logo from the CHM image pack to create a range of icons.  See attached.

[703cc95ca6532aa11baed531974ea1eb.ico.zip](https://github.com/jncc/chm-website/files/2979999/703cc95ca6532aa11baed531974ea1eb.ico.zip)

The generator also produced this code which might be useful
[code]

[2019-03-18 20:03] ulric-wilson opened #29 "Remove Register link from banner menu"
Could you remove the register link - we are not inviting any one to register and new accounts can be created by an Admin or the link given directly?  thanks

[2019-03-18 20:56] CrispinF commented on #29
Done.

[2019-03-19 08:55] ulric-wilson commented on #29
thanks

[2019-03-19 08:55] #29 closed

[2019-03-19 09:15] CrispinF commented on #7
Another option is to remove the need for emailing entirely, as discussed by phone. We'd hide the contact form and replace with a content page.

[2019-08-28 08:15] CrispinF commented on #27
Call scheduled for 10am 28th August with Jon Parsons.

[2019-08-28 08:35] CrispinF commented on #7
Decisions needed as to whether SMTP is needed, and if so what to use.

[2019-11-05 22:40] CrispinF commented on #27
@jonparsonsjncc this project looking rather stagnant since our last call... are you needing anything?

[2020-01-03 22:52] CrispinF commented on #27
@jonparsonsjncc @ulric-wilson just to echo last comment really.  Also the site could do with being brought onto latest versions of .NET and cloudscribe libraries if there's any time in the pot.

[2020-04-05 08:31] CrispinF commented on #12
Emailed Ulric and Danny about renewal.

[2020-04-05 08:38] CrispinF commented on #11
@ulric-wilson we also have a cloudscribe search solution that works directly on the content with no dependency on indexing by Google. Could be added with a few hours work if you wish.

[2020-04-05 08:40] CrispinF opened #37 "Upgrade to .NET Core 3.1 and latest cloudscribe libraries"
Advisable, during next phase of work.
Will take a few hours.

[2020-05-20 08:35] CrispinF commented on #12
Forwarded email about renewal to Jon Parsons.

[2020-05-22 11:05] CrispinF opened #39 "Change menu bar and footer area to green"
Footer text changes to white.
JNCC to provide colour specification.

[2020-05-22 11:07] CrispinF opened #40 "Change to fixed width layout instead of full width"

[2020-05-22 11:07] CrispinF opened #41 "Change contact form target email to Feedback@jncc.gov.uk"

[2020-05-22 11:08] CrispinF opened #42 "Add underline to hyperlink style within content"
JNCC to confirm whether this should also apply to menu and footer links?

[2020-05-22 11:09] CrispinF opened #43 "Replace logo images in header with new ones"
To be supplied by JNCC

[2020-05-22 11:10] CrispinF opened #44 "Lose the site title"

[2020-05-22 11:14] CrispinF opened #45 "Home page template: added heading, subheading, link address, link text properties"
JNCC want the carousel images to have text and a link button (copying an example - to be supplied).
Need to add these properties to the template and render them out into the display.

[2020-05-22 11:23] CrispinF opened #46 "New page content template with upper-right image and list of links below"
1. A single image with alt text. This to be rendered upper right, right-aligned, with some left margin.  This will look best when moving between pages if the images are always the same width; we can enforce a max-width if you'd like - please specify the width in pixels if so. Or we could leave it unconstrained so it's up to you to pre-size the images carefully. Please confirm.
Question: would you

[2020-05-22 11:29] CrispinF commented on #7
Discussed in meeting 22/05/2020 and agreed this could continue to use Exegesis SMTP service as volumes will be tiny.

[2020-05-22 11:31] #27 closed

[2020-05-22 11:31] CrispinF commented on #11
Agreed in meeting 22/05/2020 that site search not required, assigning to Jon to close if he's happy.

[2020-05-22 11:37] CrispinF opened #47 "Add left/right patterned borders to site"
JNCC to provide image(s) and example to copy.

[2020-05-22 11:37] CrispinF commented on #41
Done. Please test.

[2020-05-22 12:28] jonparsonsjncc commented on #7
Hi @CrispinF email for the feedback form to be Feedback@jncc.gov.uk

[2020-05-22 12:54] johawker commented on #43
![chm-logo-new-web-en](https://user-images.githubusercontent.com/65767813/82669503-78130900-9c33-11ea-8a53-e2f5073a8b1e.png)

Union Jack image emailed file name: shutterstock_134658089 (1).jpg

[2020-05-22 12:57] johawker commented on #47
example available at: : http://www.humboldt.org.co/es/chmcolombia

[2020-05-22 12:59] johawker commented on #39
HEX
 #259D2F
RGB
 37, 157, 47
HSL
 125, 76%, 38%

[2020-05-22 13:00] johawker commented on #42
Yes please!

[2020-05-22 13:06] johawker commented on #46
1. Visible caption not necessary @jonparsonsjncc to confirm regarding pixels and width

2. Standard title 'Relevant Links' is great, thanks

[2020-05-23 07:24] CrispinF opened #48 "Server i.p. for DNS"
62.197.41.144

[2020-06-12 14:18] johawker commented on #47
border image has been sent by email (wildflowers.gif) please add this as a repeating background image

[2020-06-12 20:17] CrispinF commented on #47
![wildflowers](https://user-images.githubusercontent.com/10574730/84542798-17d32c80-acf2-11ea-9c1c-8d3979a8ec18.gif)
and uploaded here as emails are easily lost!

[2020-06-17 18:08] CrispinF commented on #12
@johawker I'm thinking this is still unresolved, unless I've missed an email or PO?  Possible to check?

[2020-06-18 09:04] johawker commented on #12
@CrispinF emailed you last week regarding hosting and update, please could you send renewal invoice for period up to 31/03/2021 to @jonparsonsjncc many thanks!

[2020-06-19 13:50] CrispinF commented on #12
Thanks @johawker invoice going to Jon and you soon.

[2020-06-21 11:19] CrispinF commented on #43
Have resized the UJ to 124px height to match the new CHM logo (which has lots of white space top and bottom.

[2020-06-21 11:20] CrispinF commented on #44
Done for next deployment.

[2020-06-21 11:20] CrispinF commented on #40
Done for next deployment.

[2020-06-21 11:41] CrispinF commented on #39
Footer done for next deployment.
Menu bar opens a can of worms with sub-menus - there are three different colours in the drop-down menus. Leaving this for now pending review.

[2020-06-21 11:50] CrispinF commented on #42
Done for next deployment.

[2020-06-21 12:01] CrispinF commented on #3
Favicon implemented for next deployment.

[2020-06-21 12:03] CrispinF commented on #37
I have made some progress on this but cannot get the content templates working - I think it's to do with the Newtonsoft JSON. So for the moment I've made the theme enhancements in the .NET Core 2.1 version.

[2020-06-21 12:48] CrispinF commented on #45
Done for next deployment.

[2020-06-22 14:24] johawker commented on #39
@CrispinF If I understand correctly, the three colours currently are white, black and a dark grey, if the top bar and menus go the dark green of the union jack (RGB 30,139,67  or HSL 140°, 64%, 33%), the white selection could go light green ( RGB 216,233,181 or HSL 79°,54%,81%) and the black could go grey (RBG 134, 138, 137 or HSL 165°, 2%, 53%)

Have tried to match those colours to the union jack

[2020-06-22 16:04] johawker commented on #43
@CrispinF Thank you, just wondered if these logos could come inwards align with the new fixed width of the pages? Maybe that this will be part of the new page template, so I may be ahead of the game here!

[2020-06-24 09:27] CrispinF commented on #39
@johawker this should be fine... I just need to track down how/where the styles are actually set!

[2020-06-25 07:54] CrispinF commented on #40
@johawker could you review here? https://chm-staging.esdm.co.uk/
I've brought the logos into the fixed width layout as requested.

NB this is a new "staging" site pointing at a copy of the live one made a few days ago - you can use this to experiment with content, and we can take it offline again after "go live" if you want.

[2020-06-25 07:59] CrispinF commented on #37
OK problems solved, and I've deployed the upgraded site https://chm-staging.esdm.co.uk/
I have not yet upgraded the live site, as I want to be sure everything's working first.
@johawker if you could go through the motions of creating and editing pages in this site and let me know if anything isn't working. There will be one or two small changes e.g. I think the Cancel button has moved wen editing

[2020-06-25 08:00] CrispinF commented on #44
@johawker  happy with this?

[2020-06-25 08:01] CrispinF commented on #39
@johawker footer colour changed.

[2020-06-25 08:02] CrispinF commented on #42
@johawker to test and confirm it's as desired. Please test in https://chm-staging.esdm.co.uk

[2020-06-25 08:03] CrispinF commented on #3
@johawker please review favicon on this site https://chm-staging.esdm.co.uk
And you might check that you get the right icon when pinning to home screen on mobile devices too. The pack that Ulric sent should cater for all.

[2020-06-25 10:31] CrispinF commented on #45
@johawker I've sorted out the carousel captions etc so they are placed better, and work ok on smaller screens - first the subheading disappears, then the heading.
Ready for you to test on the staging site https://chm-staging.esdm.co.uk/

[2020-06-25 10:33] CrispinF commented on #43
Please review on https://chm-staging.esdm.co.uk/
NB I've made the UJ disappear on small screens as it was hard to find a way to fit both logos nicely.

[2020-06-26 10:29] CrispinF commented on #47
I've done this for next deployment. I found I had to make the image fairly transparent or it become too intrusive.

[2020-06-26 11:02] CrispinF commented on #39
@johawker menu now changed colour and deployed to http://chm-staging.esdm.co.uk/  please review @johawker

[2020-06-28 09:16] CrispinF commented on #46
@johawker  I've converted one of your existing pages into how we might render it with a page template. Please review https://chm-staging.esdm.co.uk/uk-reports-to-cbd
As noted above, if you enter no links the "Relevant Links" section would disappear.

[2020-06-29 12:41] johawker commented on #43
brilliant thank you!

[2020-06-29 12:42] johawker commented on #44
@CrispinF yep, thats great thank you!

[2020-06-29 12:45] johawker commented on #40
@CrispinF Great, this is looking good thank you, the width and logos look great

[2020-06-29 12:53] johawker commented on #39
@CrispinF Colour looks good but I have noticed that when you hover over an item in the submenu the previous menu item goes white e.g. if you go to 'UK and CBD' drop down, hover over 'UK implementation of the CBD' so it extends and then hover over 'UK Biodiversity Framework' then 'UK implementation of the CBD' goes white and you can no longer read it. Could this be made so that the text remains vis

[2020-06-29 12:53] johawker commented on #42
@CrispinF looks great thanks!

[2020-06-29 12:55] johawker commented on #47
@CrispinF this looks brilliant, thank you!

[2020-06-29 12:58] johawker commented on #46
@CrispinF I like the format of the converted page, how would I do this for the other pages? or is it that you'll need to edit the template for all? I tried to make a new page like this and couldn't figure out how to do it. I think it looks good and would like to apply it to the rest of the pages, thanks!

[2020-06-29 13:01] johawker commented on #45
@CrispinF thats great thank you, I've looked at this and wondered if it would be possible to double the depth of the carousel and increase that gap beneath it for the text (I've also moved the text below the banner and added some more). Here is an image mock up of what I was thinking:
![Home page mock up](https://user-images.githubusercontent.com/65767813/86008677-05a2ff00-ba11-11ea-85a3-4b561187c

[2020-06-29 13:03] johawker commented on #45
@jonparsonsjncc any additional thoughts?

[2020-06-29 14:14] CrispinF commented on #45
@johawker I don't recall restricting the height of the image... have you tried simply uploading a "taller" image and see what happens?  You might be right of course - let me know.

To increase spacing above the heading and the image you could just add marging e.g. i've just done this:
`<h1 class="mt-5">UK&nbsp;Clearing House Mechanism (CHM) for the Convention on Biological Diversity (CBD)</h1>`
mt

[2020-06-29 14:22] CrispinF commented on #46
@johawker in the absence of template, the best way to do this is to copy out the source html of the one I did into a text editor such as Notepad++, review the page you are wanting to modify and copy the relevant texts into your text editor version, and then use the result to replace the existing html for the page you are working on. Does that make sense?
Once you have the structure in place, you c

[2020-06-29 14:34] johawker commented on #45
@CrispinF have checked and you're right about the image size not being restricted, I'll see if I can get something sized up right. Thanks for the tip, I'm aware of the accessibility link text and will try and make sure at least the homepage doesn't have the 'click here' on it. Thanks!

[2020-06-29 14:37] johawker commented on #46
@CrispinF haha not really although it might do to @jonparsonsjncc, happy to wait for a template anyway will be easier for future users. Thanks for all your help!

[2020-06-29 15:51] CrispinF commented on #46
I'm not sure I can have a template ready for a few days.  It's quite simple - I'll explain how to covert an existing page...

Working in the source code view, wrap the entire lot in this
`<div class="d-flex row">`
... all the html you already had...
`</div>`

Next extract the image bit from the main text, and put it down the bottom before the final `<div>` that you just added.

Next enclose that i

[2020-06-30 14:59] johawker commented on #41
Hi @CrispinF , we have sent a test email via the contact form and the testing function in the back of the website, we have recieved a 'thank you for your email enquiry' email but the enquiry itself has not come through the feedback@jncc.gov.uk

[2020-06-30 15:02] johawker commented on #46
@CrispinF  thanks for the info but happy to wait for the template for now

[2020-06-30 15:07] johawker commented on #45
@CrispinF I've been having a go at changing the size of the banner and its looking great, with a bigger banner however the text sits at the bottom, would it be possible to change this so its centred accross the images, I also wondered if the find out more button colour could be updated to be the same colour green as the menus. thanks!

[2020-06-30 16:28] CrispinF commented on #41
@johawker I'm _very_ puzzled by this. The configuration should send the email to feedback@jncc.gov.uk as can be seen here (this is the same configuration on staging and live sites):
![image](https://user-images.githubusercontent.com/10574730/86149026-4d9a5280-baf3-11ea-97b0-87791edf3b90.png)

Yet when I use the form the message comes to my work address. If I change the configured target, it makes

[2020-06-30 19:04] CrispinF commented on #41
OK @johawker I now understand what was happening... the Contact Form was using a different setting to determine where to send the email from the one I was thinking.
This should now be resolved and ready for you to test again.

[2020-06-30 20:02] CrispinF commented on #45
Done for next deployment. @johawker

[2020-06-30 20:31] #42 closed

[2020-06-30 20:32] CrispinF commented on #45
Deployed to staging and live @johawker please test

[2020-06-30 20:32] #47 closed

[2020-06-30 20:33] #44 closed

[2020-06-30 20:33] #40 closed

[2020-06-30 20:33] #9 closed

[2020-06-30 20:58] CrispinF commented on #39
@johawker OK I see what you mean about the menu - this effect:
![image](https://user-images.githubusercontent.com/10574730/86176206-8b5fa100-bb1c-11ea-8ef7-e13a9fc5c405.png)

The previously version also did this - Bootstrap defaults!
The problem is white highlighting and white text. It's a bit fiddly but I'll take a look.

[2020-06-30 22:15] CrispinF commented on #39
@johawker I've failed to resolve this - simply cannot find the boostrap variables that control this. So I'll give some advice on how to avoid it. These nested sub-menus are not great for accessibility, as they are quite hard to use.
Instead, set the Menu Filter on the grandchildren pages to "breadcrumbs,sitemap,childtree". This will stop them forming sub-sub-menu items, but allow them to appear in

[2020-07-02 10:20] johawker commented on #45
@CrispinF looks great thank you

[2020-07-02 10:25] #45 closed

[2020-07-03 08:20] johawker commented on #39
@CrispinF Thanks for this, I think if we combine this approach with the new templeate (when its ready) and put the next pages in the relevant links section on the right hand side, then that works, could you roll this out to the funding pages too? I think those are all the sub-sub-pages on the site! Thanks

[2020-07-03 08:21] johawker commented on #41
@CrispinF Tested and its working, thank you!

[2020-07-03 08:39] #41 closed

[2020-07-03 09:51] #39 closed

[2020-07-03 09:51] #43 closed

[2020-07-03 09:52] #3 closed

[2020-07-03 09:53] #7 closed

[2020-07-03 09:53] #11 closed

[2020-07-03 09:53] #37 closed

[2020-07-03 09:53] #22 closed

[2020-07-03 09:53] #18 closed

[2020-07-03 09:53] #25 closed

[2020-07-03 09:53] #14 closed

[2020-07-03 09:53] #8 closed

[2020-07-03 09:54] #4 closed

[2020-07-06 14:47] jonparsonsjncc commented on #10
Hi @CrispinF I have created a new redirect file
[chm-redirects.txt](https://github.com/jncc/chm-website/files/4879597/chm-redirects.txt)
but when i update and try to click update I get a pop up which says "the authorising policy was not found" so looks like i dont have the admin rights - wonder which is easier for you to add the attached file or set up admin rights - happy either way - taa

[2020-07-06 15:28] CrispinF commented on #10
@jonparsonsjncc  could you give me a little more info (screenshot?) on when exactly you see that message?

[2020-07-06 15:49] jonparsonsjncc commented on #10
![chm](https://user-images.githubusercontent.com/50585245/86612766-8a10f700-bfa8-11ea-95ed-0222223ac895.JPG)
Hi @CrispinF this is what i see on hover and nothing saves when i click

[2020-07-06 16:16] CrispinF commented on #10
Ah sorry @jonparsonsjncc  that suggests there's a problem in my upgrade. Will look into it.

[2020-07-06 22:42] CrispinF commented on #10
I have done further work to enable this component in the upgraded site, and deployed to staging and live sites.
However, I can get simple redirects working but not with your querystrings. I've a feeling this isn't supported in .NET Core middleware but I need to check with a colleague.  If not, we'll be able to achieve it in IIS web.config.

[2020-07-07 09:45] CrispinF commented on #10
@jonparsonsjncc confirmed, the Redirect Manager currently works only on the main URL not querystrings.
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting?view=aspnetcore-3.1 for details!
So I'll take your list and configure them in IIS URL rewrite rules instead.

[2020-07-07 10:50] CrispinF commented on #10
OK @johawker @jonparsonsjncc I've turned all your rules into IIS redirects.
If you could test each one on the staging site, just to confirm no errors have crept in, and confirm, next step will be to make them Permanent redirects and apply this to the production site (which I can do simply by copying and pasting across).
e.g. test that https://chm-staging.esdm.co.uk/default.aspx?page=7808 redirects

[2020-07-08 08:08] johawker commented on #10
@CrispinF We've tested this and its working fine thank you! I think its only the page template that is left and otherwise the website is complete! We are still intending to go live tomorrow so do let us know if there is anything else you need. Many thanks.
@jonparsonsjncc for info

[2020-07-08 08:21] CrispinF commented on #10
@johawker that's good to hear.

Next step I will today move this over to the production site and make them all permanent redirects. In future you will be able to use the Redirect Manager should you change any page URLs. The unexpected thing about the old URLs is they were ALL /default.aspx?page=nnnn   and the Redirect Manager can only work on the bit before the "?". Doh!

Realistically I'm not goi

[2020-07-08 08:44] johawker commented on #10
@CrispinF yes I think thats fine, we will go live as we are and if you let me know as soon as the page template is available I'll update all the pages. I assume that I can update and edit or will i need to remake the pages? If i remake the pages will this disrupt the redirects?
Many thanks for all your help.

[2020-07-08 08:50] CrispinF commented on #10
The way the templates work you will need to make a new page. But you will be able to shuffle the "slugs" so that when the new one is ready you remove the existing page and swap in the new one with same URL. The new one can be invisible to externals until you swap it in. @johawker

[2020-07-08 08:52] johawker commented on #10
@CrispinF Brilliant, that all makes sense, thank you!

[2020-07-09 07:13] CrispinF commented on #10
@johawker @jonparsonsjncc just to confirm, the redirects are in place in the production site now.

[2020-07-09 07:15] CrispinF commented on #48
@johawker @jonparsonsjncc are you able to tell me what time the site will go live?  I'd like to be on hand to configure the HTTPS and check it's working. I'm not 100% sure it will run OK on HTTP without the certificate being done.

[2020-07-09 08:20] johawker commented on #48
@CrispinF DNS has been updated and we are waiting for it to propogate

[2020-07-09 11:47] CrispinF commented on #48
@johawker still not resolving for me... that's an unusually long time.

[2020-07-09 11:51] johawker commented on #48
@CrispinF we are checking everything went through ok with our contact at the CBD, will let you know of any developments :)

[2020-07-09 12:39] CrispinF commented on #48
@johawker @jonparsonsjncc OK, the address is resolving now and I've sorted out the HTTPS, so I think we're live and operational!

[2020-07-10 18:21] jonparsonsjncc commented on #48
Hi Crispin

All looks good with the CHM site – thanks for your work on this

One thing is causing us problems – the staging site https://chm.esdm.co.uk/ has been picked up by google and is coming quite high in the rankings – could you please add a redirect on all pages from this domain to go to the new site

Thanks

Jon

Jon Parsons
Technical Delivery Manager
(DIP DigM)
JNCC, Monkstone House, City

[2020-07-10 21:17] jonparsonsjncc commented on #48
Hi Jon

Ah, that’s the risk of doing good SEO!  I wonder how the bots found it though.

Fortunately that’s actually the production site, not the staging one, so the indexed pages will take users to the same exact content. But yes of course I will add a redirect to nudge those links over to the new real address.

I’ll let you know when done.

Crispin

From: Jon Parsons <Jon.Parsons@jncc.gov.uk>
Sen

[2020-07-11 21:34] CrispinF commented on #48
@johawker @jonparsonsjncc there's now a redirect from chm.esdm.co.uk onto the real address. Please check this out, then we can close this issue.

[2020-07-11 21:34] #10 closed

[2020-07-12 10:12] CrispinF commented on #46
@johawker @jonparsonsjncc I've deployed the template to the staging site
Here's an example I made with it https://chm-staging.esdm.co.uk/chm-test8
I've made the output able to work with or without an image and with or without links. So you can have a content-only page or content plus image, content plus links, or all three.
Have a go.
Once your happy, we can deploy this to the live site and you ca

[2020-07-15 11:37] johawker commented on #48
@CrispinF have tested this and appears to work fine, thanks - tested from google too and redirects to the live website :)

[2020-07-15 11:40] johawker commented on #46
@CrispinF I've tested this on the staging site and seems to work fine, thanks, feel free to deploy it to the live site and I'll remake the pages - I need to transfer slugs accross when I publish the new pages right in order to keep the redirects working- i remember you saying something about this but can't find the comment! Thanks

[2020-07-16 08:27] CrispinF commented on #46
@johawker I've deployed to the live site and checked the template works.

I'd suggest the process for replacing a page is as follows. NB in testing and refining this, I've mostly done https://uk.chm-cbd.net/uk-and-the-cbd for you, but you will want to add more links I expect.  Note that you can still choose whether or not to show the "Child Menu". I left it on for now on that page, but perhaps it

[2020-07-16 12:29] johawker commented on #46
@CrispinF I think I have now updated all the webpages to the latest template and published these, I left the relevant links section off the UK and CBD page for now and kept the child menu, the UK implementation of CBD has both for now but anyway they are all in the templates and the redirects should still work as I updated the slugs!

Thanks for all the advice, was extremely helpful especially the

[2020-07-20 13:48] CrispinF opened #61 "Project feedback to Exegesis"
@johawker @jonparsonsjncc as we're at the end of the initial build phase and the site is live, could I possibly ask you to complete this short project review at some point?

https://www.esdm.co.uk/project-client-evaluation

[2020-07-20 13:49] #48 closed

[2020-07-20 13:49] #46 closed

[2020-07-20 13:50] CrispinF commented on #13
@johawker @jonparsonsjncc See above - you can enter your tracking ID for the site in the site settings, and then verify that you are seeing results in GA.

[2020-07-20 13:52] CrispinF commented on #15
@johawker @jonparsonsjncc you might want to review this issue and check everything's in order.

[2020-07-27 13:48] #13 closed

[2020-07-27 13:49] #15 closed

[2020-07-29 13:40] #61 closed

[2021-03-21 16:49] CrispinF commented on #12
@johawker @jonparsonsjncc I've emailed Jon about hosting renewal from 01/04/2021.

[2021-03-28 08:33] CrispinF opened #64 "The Contact form is not working"
Test >
![image](https://user-images.githubusercontent.com/10574730/112746729-b7735a00-8fa8-11eb-8c42-a0f4ed3d239f.png)

[2021-03-28 08:43] CrispinF commented on #64
OK, smtp settings hadn't been updated after recent changes at that service. Now done, and a test message received ok.

[2021-03-28 08:43] #64 closed

[2022-08-03 12:03] CrispinF opened #71 "DNS change"
uk.chm-cbd.net

Please could you move/change the A record in DNS for the above from 62.197.41.144 to 62.197.41.134

There will be no interruption when this is done.

Please let us know when this is being done so we can monitor.

[2022-08-03 12:27] CrispinF opened #72 ".NET and Bootstrap upgrade"
The site is currently running in .NET Core 3.1.24 which becomes unsupported Dec 13, 2022.
We'd recommend an upgrade to .NET 6, and at the same time we'd need to upgrade to Bootstrap 5.

[2022-10-25 11:25] CrispinF commented on #71
This was done, so closing.

[2022-10-25 11:25] #71 closed

[2022-10-25 18:39] #12 closed

[2022-10-25 18:40] #16 closed

[2022-10-25 18:47] CrispinF opened #73 "DNS change"
@jonparsonsjncc could we arrange for another DNS change please?
uk.chm-cbd.net to point to 62.197.41.163
When this happens we will need to generate a new certificate, so the timing needs to be coordinated - please let us know when this change will be made?

[2022-11-24 19:51] CrispinF commented on #73
All done, so closing this.

[2022-11-24 19:51] #73 closed